*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;

}
.container{
    font-size: 17px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 2%;
}
input{
    margin-left: 2%;
    /* width: 300px; */
}