.imgg{
 margin-top: -16px;   
}
h6{
    width: 100% !important;
    text-align: center !important;
    border-bottom: 1px solid #7a7878;
    line-height: 0.1em !important;
    margin: 10px 0 20px;
    margin-top: 25px !important ;
}
h6 span{
    background-color: white;
    padding: 0 10px;
}
.input-group{
    height: 45px;
}
.pass::placeholder{
    color: #8a33fd;
}
.pass{
    border: solid 1px #8a33fd !important;
}
/*    home page section     */
/*header section*/
.navbar-link{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.navbar-link li {
    display: inline-block;
    padding: 10px 20px !important;
    list-style-type: none;
}
.nav-item{
    color: #807d7e;
}
/* slider section */
.img-content{
    margin-top: -16px;
    width: 100%;
    height: auto;
    position: relative;
}
.content{
    color: #fff;
}
.text1{
    left: 10%;
    top: 35%;
    position: absolute;
    font-size: 28px;
    z-index: 2;
}
.text2{
    font-size: 50px;
    position: absolute;
    left: 10%;
    top: 45%;
    font-weight: 800;
}
.text3{
   position: absolute;
   left: 10%;
   top: 75%;
   font-size: 28px;
}
.shop-btn {
    position: absolute;
    left: 10%;
    top: 90%;
    padding: 13px 45px !important;
    color: #3c4242;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}
/* deals section */
.deals{
    margin-top: 50px !important;
    position: relative;
}
.deal-content{
    position: absolute;
    top: 20%;
    left: 4%;
    font-weight: 600;
}
.deal-content1{
    position: absolute;
    top: 20%;
    margin-left: 3%;
    font-weight: 600;
}
/* arrival section */
.arrival-section {
    display: flex;
}
.arow{
    margin-top: 9%;
}
.tt{
    font-weight: 600;
    color: #3c4242;
    margin-top: 8%;
}
/* big saving section */
.big-saving-section ,.big-saving-zone {
    display: flex;
    position: relative;
}
.big-saving-content{
    position: absolute;
    top: 12%;
    left: 1.5%;
    color: #fff;
}
.big-saving-content1{
    position: absolute;
    top: 8%;
    left: 50%;
    color: #fff;
    text-align: right;
}
.big-saving-content2{
    position: absolute;
    top: 12%;
    left: 83%;
    color: #3c4242;
    text-align: right;
}
.big-saving-zone1{
    position: absolute;
    top: 12%;
    left: 30%;
    color: #3c4242;
}
.big-saving-zone2{
    position: absolute;
    top: 12%;
    left: 77%;
    color: #3c4242;
}
.shopnow-btn{
    background-color: transparent;
    color: #fff;
    border: #fff 1px solid;
    padding: 5px 18px;
    border-radius: 4px;
    font-size: 15px;
}
.shopnow-btn1{
    background-color: transparent;
    color: #3c4242;
    border: #3c4242 1px solid;
    padding: 5px 18px;
    border-radius: 4px;
    font-size: 15px;
}
.stock-btn{
    background-color: #3c4242;
    color: #fff;
    border: 0;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;    
}
/* combo-image section */
.image-combo{
    display: flex;
    position: relative;
    margin-top: 4%;
    margin-left: 3.5%;
}
.comboimg-text{
    position: absolute;
    top: 25%;
    left: 5%;
    color: #fff;
}
.we-made-text{
    margin-top: 2%;
    line-height: 1.6rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.signup{
    width: 48%;
    border-radius: 0px 13px 13px 0px;
}
.shop-btn1 {
    margin-top: 6%;
    padding: 13px 45px !important;
    color: #3c4242;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}
/* men & women section */
.men-section1 ,.men-section2 ,.women-section ,.limelight-section{
    display: flex;
}
.men-text1 ,.women-text1{
    font-size: 20px;
    font-weight: 600;
    color: #2a2f2f;
}
.men-text2 ,.women-text2{
    margin-left: 51%;
    line-height: 0.6em;
    color: #797979;
}
/* top brand section */
.rectangle{
    height: 300px;
    width: 97%;
    border-radius: 10px;
    background-color: #3c4242;
}
.top-brand{
    padding-top: 20px;
    text-align: center;
}
.rec-small{
    position: relative;
    display: flex;
    margin-top: 6%;
}
.nike-square {
    position: absolute;
    left: 10%;
}
.nike-img  {
    position: absolute;
    top: 15px;
    left: 12%;
    right: 0;
    bottom: 0;
}
.hm-square{
    position: absolute;
    left: 27%;
}
.hm-img  {
    position: absolute;
    top: 7px;
    left: 29%;
    right: 0;
    bottom: 0;
}
.levis-square{
    position: absolute;
    left: 43%;
}
.levis-img  {
    position: absolute;
    top: 16px;
    left: 45.5%;
    right: 0;
    bottom: 0;
}
.uspolo-square{
    position: absolute;
    left: 59%;
}
.uspolo-img  {
    position: absolute;
    top: 16px;
    left: 60%;
    right: 0;
    bottom: 0;
}
.puma-square{
    position: absolute;
    left: 75%;
}
.puma-img  {
    position: absolute;
    top: 16px;
    left: 78%;
    right: 0;
    bottom: 0;
}
/* limelight section */
.limelight1{
    font-size: 16px;
    color: #3c4242;
    font-weight: 600;
}
.limelight2{
    font-size: 14px;
}
.hrt-btn{
    border-radius: 50%;
    margin-left:-40px ;
}
.pay-btn{
    margin-top: -10px;
}
/* feedback section */
.feedback1{
    font-size: 14px;
    color: #807d7e;
}
.hd{
    color: #3c4242;
}
.fdbk{
    width: 28% !important;
    height: auto;
}
/* footer section */
.footer{
    background-color: #2a2f2f;
    height: 550px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.footer-text{
    font-size: 14px;
    line-height: 2.2em;
}
#icons1{
    margin-left: 8%;
    margin-top: 3%;
}
#icons1 .icn{
    text-align: center;
    color: #2a2f2f;
    background-color: #fff;
    margin: 5px;
    padding: 6px 8px;
    border-radius: 9px;
    font-size: 18px;
}
.icons2{
    margin-left: 61% !important;
    margin-top: -40px !important;    
}
.tt1{
    font-size: 12px;
    margin-top: -6px !important;
}
.icons3{
    float: right;
    margin-top: -50px !important;
}
.icons3 .icn1{
    margin-top: -15px !important;
    margin-left: 9% !important;
}
/*     Product List Page Section      */
/* side section */
.vl{
    border-left: 1px solid #bebcbd;
    height: auto;
    margin-left: 2%;
    margin-top: -16px;
}
.vl1{
    border-left: 1px solid #bebcbd;
    height: 1537px;
    margin-left: 21.3%;
    margin-top: -1553px;
}
.price-btn{
    padding: 4px 35px;
    color: #3c4242;
}
.size-btn{
    padding: 3px 20px;
    margin: 2px 7px;
    border-radius: 10px;
    color: #3c4242;
}
/* main content section */
.main-content{
    margin-left: 350px !important;
    margin-top: -1500px !important;
}
.limelight-section
{
    margin-left: 24%;
}



/* media query */

@media only screen and (max-width:600px) 
{


}
